.table-menu {
    background-color: #666666;
}
.start {
    background: url(../img/banner.png) ;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content-wrapper {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
}
.content-wrapper div {
    width: 50%;
    text-align: center;
}
.content-wrapper h3 {
    color: #6DC72A;
}
.content-wrapper p {
    color: #999999;
}
.content-wrapper1 {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
}
.content-wrapper1 h3 {
    color: #6DC72A;  
}
.content-wrapper1 p {
    color: #999999;
}
.content-wrap {
    display: flex;
    justify-content: center;
}
.start, .table-menu {
    margin: 0;
    text-align: center;
    margin: 0 auto;
    width: 1200px;
}
.table-menu td, .start td, a {
    text-align: center;
    color: white;
}
a {
    text-decoration: none;
}
td.logo {
    text-align: left;
}

.bodystyle {
    margin: 0;
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    color: #999999;
}
.bodystyle h3 {
    color: #6DC72A;
}
.bodystyle a {
    color: blue;
}
.button {
    background: rgb(167, 165, 165);
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 16px;   
}
.button:hover{
    text-decoration: none; 
    background-color: rgb(66, 66, 66);
    color: #ffeded;
    border-color: #006089
}

.textype {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #999999;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: center;
    width: 1200px;
}
.footer-wrapper {
    background-color: #666666;
    display: flex;
    align-items: center;
    width: 1200px;
    color: white;
    padding: 20px 0;
    justify-content: space-around;
}
.social-links {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.social-links p, .copyright p {
    text-align: center;
}
.social-links p {
    margin: 0;
}
.social-links a {
    text-decoration: underline;
}
.news {
    width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    
}
.news h3 {
    color: #6DC72A;   
}
.news p {
    color: #999999;
}
.news1 {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content {
    background: url(../img/banner.png);
    width: 1200px;
    align-items: center;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}
